* {
    box-sizing: border-box;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 40px;
    background-color: rgb(1, 1, 185);
}

.home, .profile {
    color: white;
    text-decoration: none;
    padding: 5px;
}