* {
  box-sizing: border-box;
}

.header {
  background-color: rgb(1, 1, 185);
  color: white;
  padding: 5px;
}

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}

.pagina {
  display:flex;
  flex-wrap: wrap;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 15%;
  padding-right: 20px;
  padding-left: 10px;
  color:black;
  height: 100%;
}

.button {
  border-right: 1px solid grey;
  padding-right: 10px;
  padding-top: 10px;
  padding-left:10px;
  color: grey;
  text-decoration: none;
}

.button:hover{
  text-decoration: none;
}

.containerTotal {
  width: 80%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
}